<div id="tienda">

    <mat-card  *ngFor="let item of num" class="card">
        <mat-card-header>
          <mat-card-title><a href="/producto"> product.name</a> </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del producto">
        <mat-card-content>
            <p> aki va la descripcion  </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button ><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
            <mat-form-field appearance="outline">
                <input class="cantidad" matInput>
            </mat-form-field>
            <button mat-button ><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
            <button id="cartButton" mat-button><mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon></button>
        </mat-card-actions>
      </mat-card>
 
</div>