<div id="tienda">
  <div id="filtro">
    <mat-accordion>
      <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title>
            FILTRAR PRODUCTOS
          </mat-panel-title>

        </mat-expansion-panel-header>

        <!-- EXPANSION PANEL CONTENT -->
        <ng-template matExpansionPanelContent>
          <form [formGroup]="filtro" (ngSubmit)="onSubmit()">
            <div id="categoria">
              <label>Seleccione la categoria: </label>
              <mat-radio-group formControlName="categoria">
                <mat-radio-button value="Pepperonni">Pepperonni </mat-radio-button>
                <mat-radio-button value="Mushroom">Mushroom </mat-radio-button>
                <mat-radio-button value="Extra Cheese">Extra Cheese </mat-radio-button>
              </mat-radio-group>
            </div>

            <div id="min">
              <label>Precio Minimo: ${{filtro.value.priceMin}}</label>
              <mat-slider formControlName="priceMin" max="10000" step="500" thumbLabel tickInterval="5000" class="Slider">
              </mat-slider>
            </div>
            
            <div id="priceMax" >
              <label>Precio Maximo: ${{filtro.value.priceMax}}</label>
              <mat-slider formControlName="priceMax" max="10000" min="1000" step="500" thumbLabel tickInterval="5000" class="Slider">
              </mat-slider>
            </div>

            <div id="rating">
              <label>Valoración: {{valueR}}</label>
              <mat-slider formControlName="rating" max="5" step="1" thumbLabel tickInterval="1" class="Slider">
              </mat-slider>
            </div>

            <mat-action-row>
              <button id="filtrar" (click)="reset()" mat-raised-button color=primary>Reiniciar</button>
            </mat-action-row> 

          </form>
        </ng-template>


      </mat-expansion-panel>
    </mat-accordion>
    

  </div>
  <button id="shoppingCart" [routerLink]="['/cart']" routerLinkActive="router-link-active"  mat-stroked-button ><mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon></button>
  

  <div *ngFor="let item of num,let indice=index">
    <mat-card *ngIf= "revisar(item)"  class="card" >
      <mat-card-header>
        <mat-card-title><a href="/producto"> {{item.nombre}}</a> </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del producto">
      <mat-card-content>
        <p> ${{item.valor}} </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- 
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
        </button>
         -->

        <mat-form-field id="cantidad" appearance="outline">
          <input type="number" [(ngModel)]="cantidades[indice]" class="cantidad" matInput>
        </mat-form-field>
        <!--  
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        </button>
        -->
        <button id="cartButton" (click)="addCart(indice)" mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>