#tienda{
    width: 90%;
    margin: 2em auto;
    margin-left: 5%;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 2em 0;
    background-color: white;
    display: inline-block;
}

.card {
    max-width: 25em;
    margin:2em;
    height: 35em;
    float: left;
    cursor: pointer;
}

#cartButton{
    width: 7.5em;
    height: 3em;
    background-color: rgb(6, 177, 177);
    color: white;
    margin: 0em 0em 0em 2em;

}

input{
    text-align: center;
}

#filtro{
    width: 75%;
    margin:auto;
}
#checkbox{

    margin-right: 10em;
    float: left;
}

#price{
    margin-right: 5em;
    width: 20em;
    display: inline-block;

}
#rating{
    width: 20em;
    display: inline-block;
}

#filtrar{
width: fit-content;

}

.Slider{
    width: 20em;
}

::ng-deep .mat-slider-wrapper {

    .mat-slider-thumb-container {
      .mat-slider-thumb-label {
        width: 50px;
        height: 50px;
        top: -62px;
        right: -25px;
      }
    }
  }

#shoppingCart{
    margin: 0.5em 0em 0em 8em ;
    height: 3em;
    width: 4.5em;
    background-color: white;
    position: fixed;
    top: 8.7em;
    right: 0.25em;
}

#cantidad{
    font-size: 1.5em;
}

