<div id="cart">
  <mat-card *ngFor="let item of productos,let indice=index" class="card">
    <img mat-card-sm-image src='{{ "../assets/" + (item.id) + ".jpg" }}' alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>{{item.nombre}}</mat-card-title>
      <mat-card-subtitle> {{item.valor}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>

      <mat-form-field appearance="outline">
        <input type="number" min="1" [(ngModel)]="cantidades[indice]" matInput>
      </mat-form-field>

      <button class="delete" (click)="delete(indice)" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
  <div id="divBuy">
    <label >total: {{total}} </label>
    <button  id="buy" type="button" (click)="submitCart()" mat-button>COMPRAR</button>
  </div>
  <div #pedirLogIn>
        Debe Iniciar Sesion para realizar la compra.
  </div>
  
</div>