header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,43,226,1) 0%, rgba(40,194,215,1) 100%);
}
#miniFischl{
    position:absolute;
    right: 0em;
    top: 0em;
}

//titulo
h1{
    font-family: Arbutus Slab;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px #000000;

    margin: auto;
    padding: 0.75em;
    width: 24.6%;
    font-size:xx-large;
}

body{
    background-color: #000000;
}

//container del sidebar
#sideContainer {
    background: none;
}
  
//boton inicio de sesion
#sidenavButton {
    position: absolute;
    top: 2em;
    left: 2em;  
}

//boton cerrar sidebar
#sidenavToggle{
    float: right;
    
}
#cerrar:hover{
    background-color: red;
    color: white;
}

//boton submit iniciar sesion
#submitbutton{
    margin-top: 5%;
    margin-bottom: 2%;
}

//sidebar
#sidenav{
    width: 30em;
    padding: 2em;
    height: fit-content;
    border-radius: 0% 0% 5% 0%;
}
//sidebar form
#sideBar{
    margin-top: 1em;
}

.scroll-to-top{
    position: fixed;
    background:pink;
    bottom: 7.1em;
    right: 0.25em;


  }
#admin{
    width: 4em;
    height: 1.5em;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(107, 107, 107);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}
ul{
    list-style: none;
}
#sesion{
    font-size: medium;
    font-family: Arbutus Slab;
    color: white;
    position: absolute;
    top: 2em;
    left: 10%; 

}
