<!-- HEADER -->
<header>

  <mat-drawer-container id="sideContainer" autosize>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <h1>La Boutique De Fischl </h1>
    </a>
    <!-- fischl img -->
    <img id="miniFischl" #tooltip="matTooltip" matTooltip="Have a nice day!" matTooltipPosition="left" mat-card-sm-image
      src="../assets/chibiFischl.png">

    <div *ngIf="!usuarioService.getEstado(); then iniciarSesion else saludo"></div>
    <!-- boton inicio sesion -->
    <ng-template #iniciarSesion>
      <button id="sidenavButton" type="button" mat-raised-button (click)="drawer.toggle()"> Iniciar Sesion </button>
    </ng-template>
    <ng-template #saludo>
      <button id="sidenavButton" type="button" mat-raised-button (click)="cerrarSesion()"> Cerrar Sesion </button>
      Hola, {{usuarioService.getNombre()}}
    </ng-template>

  </mat-drawer-container>
  <a id="admin" href="/admin" *ngIf="usuarioService.esAdmin">ADMIN</a>
</header>

<!-- SIDEBAR (INICIO DE SESION) -->
<mat-drawer #drawer id="sidenav" mode="over" backdrop="off">
  <!-- titulo -->
  <mat-label>INICIO DE SESION</mat-label>
  <!-- boton cerrar sidebar -->
  <div id="sidenavToggle">
    <button mat-mini-fab color="white" id="cerrar" type="button" (click)="drawer.toggle()"> X </button>
  </div>

  <!-- formulario -->
  <form [formGroup]="ingreso" (ngSubmit)="onSubmit()" autocomplete="off" id="sideBar">
    <ul>
    <!-- correo -->
    <li id="correo">
      <mat-form-field appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="CorreoDeEjemplo@xmail.xxx" [formControl]=correo required>
        <mat-error *ngIf="correo.invalid">{{getErrorMessageCorreo()}}</mat-error>
      </mat-form-field>
    </li>

    <!-- contraseña -->
    <li>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contrasenya" [formControl]=contrasenia required>
        <mat-error *ngIf="contrasenia.invalid">{{getErrorMessageContrasenia()}}</mat-error>
      </mat-form-field>
    </li>
  </ul>
  <div>
  <mat-checkbox formControlName="remember">Mantener sesion iniciada.</mat-checkbox>
</div>
    <br>

    <!-- captcha -->
    <re-captcha formControlName="reCaptcha" siteKey="6LfnmzUbAAAAAF0DZrvwy9wy6buyDvQaauSlOySi" required></re-captcha>

    <!-- boton iniciar sesion -->
    <button id="submitbutton" type="submit" (click)="drawer.toggle()" mat-raised-button> Iniciar Sesion </button>
  </form>

  <!-- link registro -->
  <mat-label>¿Aun no tienes una cuenta? </mat-label>
  <a (click)="drawer.toggle()" routerLink="registro"><strong>Registrate</strong></a>

</mat-drawer>

<!-- BODY -->
<button class="scroll-to-top" type="button" mat-raised-button (click)="scrollToTop()"> Top </button>

<!--<app-formulario></app-formulario>-->

<router-outlet></router-outlet>