<mat-card class="card">

  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title> {{ producto.nombre }} </mat-card-title>
    <mat-card-subtitle> {{producto.categoria}} </mat-card-subtitle>
    <button id="shoppingCart" matBadgePosition="before" matBadge=" {{total}} " matBadgeColor="warn" [matBadgeHidden]="hidden"  [routerLink]="['/cart']" routerLinkActive="router-link-active" mat-stroked-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image src='{{ "../assets/" + producto.id + ".jpg" }}' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p *ngIf="not0()">
      <mat-icon *ngFor="let item of stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    </p>
    <p>Precio: ${{producto.valor}}</p>
  </mat-card-content>
  <mat-card-actions>

    <mat-form-field appearance="outline">
      <input type="number" [(ngModel)]="cantidad" class="cantidad" matInput>
    </mat-form-field>

    <button *ngIf="stock()" id="cartButton" (click)="addCart()" mat-button> 
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
    </button>
    <button *ngIf="!stock()" #tooltip="matTooltip" matTooltip="Producto fuera de stock" matTooltipPosition="above" id="cartButtonOff"  mat-button> 
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
    </button>

  </mat-card-actions>
  <mat-card-content>
    <p>COMENTARIOS:</p>
    <div *ngFor="let item of comentarios">
      <mat-card id="comentario"*ngIf="item.id_producto == producto.id">
        <mat-card-header>
          <mat-card-title> {{item.id_usuario}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> {{item.texto}} </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>

  <div *ngIf="usuarioService.getEstado(); then agregarComentario else pedirLogIn"></div>
  <ng-template #agregarComentario>
    <form [formGroup]="comentario" id="agregar" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <p id="tituloAgregar">AGREGAR COMENTARIO:</p>
        <!--usuario-->
        <mat-form-field>
          <mat-label>Puntaje</mat-label>
          <mat-select formControlName="puntaje"> 
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
          </mat-select>
        </mat-form-field >

        <mat-form-field id="texto"  appearance="fill">
          <mat-label>Dejar Comentario</mat-label>
          <textarea  matInput formControlName="comentario"></textarea>
        </mat-form-field> 

        <mat-action-row>
          <button mat-raised-button color=primary type="submit">Enviar</button>
        </mat-action-row>
      </mat-card-content>
    </form>
  </ng-template>

  <ng-template #pedirLogIn>
    <mat-card-content>
      <mat-card>
        Debe Iniciar Sesion para dejar un comentario.
      </mat-card>
    </mat-card-content>
  </ng-template>

</mat-card>