/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import 'aos/dist/aos.css';

html, body { 
    //height: 100%;
    margin: auto; 
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /*
    background-image:url("assets/fischl.png");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size:cover;
    */
    background: rgb(2,0,36);
    background: linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(70,0,101,1) 0%, rgba(0,9,103,1) 100%);
}

a{
    text-decoration: none;
}

footer{
    font-family: Arbutus Slab;
    color: white;
    font-weight: bold;
    text-shadow: 2px 0px #000000;
    font-size: large;

    position:relative;
    height:5.4em;
    width:100%;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,43,226,1) 0%, rgba(40,194,215,1) 100%);
}
#foot{
    list-style: none;
    height:5.4em;
    width: 90%;
    margin: auto;
}

#toes{
    float: left;
    padding: 0em 3em;
    margin: 2em auto;
    vertical-align: middle;
}
