form{   //formulario
    width: 50%;
    margin: 2em auto;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 2em 0;
}

h1{     //titulo del formulario
    font-family: Arbutus Slab;
    font-weight: bold;
    color: rgb(63, 63, 63);

    float: left;
    margin-top: -1.9em;
    margin-left: 1em;
    background: white;
    width: 6em;
    text-align: center;
}

ul{         // ul lista de input
    list-style: none;
    padding-left: 0%;

}
li{     // cada item de la lista

    width: 90%;
    margin: auto;
}

.submit{    //div del submit button
    width: 7.4em;
    margin: 0 auto;

}
.mat-form-field{    //objeto dentro de cada item de la lista
    margin: 0 auto;
    width: 100%;

}

/*
#rut{       //input rut
    width: 30%;
    float: left;
    margin-left: -4.2em;
}

#correo{    //input correo
    float: left;
    width: 61%;
}
*/



