form{
    width: 50%;
    margin: 2em auto;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 2em 0;
}

h1{
    font-family: Arbutus Slab;
    font-weight: bold;
    color: rgb(63, 63, 63);

    float: left;
    margin-top: -1.9em;
    margin-left: 1em;
    background: white;
    width: 6em;
    text-align: center;
}

ul{         // ul lista de input
    list-style: none;
    //border:1px solid black;
}

.submit{
    width: 7.4em;
    margin: 0 auto;

}

.submit button{             //boton registrarse
    //width: auto;
    display: block;
}

#rut{       //input rut
    width: 30%;
    float: left;
    margin-left: -4.2em;
}

#correo{    //input correo
    float: left;
    width: 61%;
}


.mat-form-field{
    margin: 0 auto;
    width: 80%;
}

